.body{
    height: 100%;
    width: 100%;
  
     background: -webkit-linear-gradient(right,#dd25be ,  rgb(17, 158, 240), #0000ff);
  } 
  .card {
    margin: auto;
    padding: auto;
   
       box-shadow: 0 4px 88px 0 rgba(7, 124, 235, 0.2), 0 6px 20px 0 rgba(7, 124, 235, 0.19);
       text-align:center;
       
     }
   .row{
      margin: auto;
      padding: auto;
   }
  .container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
  .container{
    display: none;
    background-color: #fff;
    width: 410px;
    padding: 30px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  } 
 
  input[type="checkbox"]{
    display: none;
  }
  .container .close-btn{
    position: absolute;
    right: 20px;
    top: 15px;
    font-size: 18px;
    cursor: pointer;
  }
  .container .close-btn:hover{
    color: #3598db;
  }
  .container .text{
    font-size: 35px;
    font-weight: 600;
    /* text-align: center; */
  }
  .container form{
    margin-top: -20px;
  }
 .container form .data{
   height: 45px;
   width: 100%;
   margin: 40px 0;
 }
 form .data input{
 height: 100%;
 width: 100%;
 padding-left: 10px;
 font-size: 17px;
 border: 1px solid silver;
 }
 
 form .data input:focus{
   border-color: #3598db;
   border-bottom-width: 2px;
 }
 
  form.btn{
    margin: 30px 0;
    height: 45px;
    width: 100%;
    position: relative;
    overflow: hidden;
  }
  form .btn .inner{
    height: 25%;
    width: 100%;
    position: absolute;
    left: -00%;
    z-index: -1;
    background: -webkit-linear-gradient(right,#dd25be  ,  rgb(17, 158, 240), #0000ff);
    transition:all 0.4s;
  }
  
 form .cancel{
     margin-left: -8px;
 }
 form .cancel a{
     color: #0000FF;
     text-decoration: none;
 }
 form .cancel a:hover{
     text-decoration: underline;
 }
 .dropdown-item{
   
  box-shadow: 0 4px 88px 0 rgba(7, 124, 235, 0.2), 0 6px 20px 0 rgba(7, 124, 235, 0.19);
 }
 form .btn-hover .inner{
    left: 0;
     }
    
    
     form .btn button{
       height: 100%;
       width: 100%;
       background: none;
      border:none;
      color: #fff;
      font-size: 18px;
      font-weight: 500;
      text-transform: uppercase;
      letter-spacing:1px;
    cursor: pointer;
    
     }

     .show-btn{
      background: #fff;
      padding: 10px 20px;
      font-size: 20px;
      height: 100%;
      width: 100%;
      font-weight: 500;
      color:#3598db;
      cursor: pointer;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    }
    #show:checked~.container{
      display: block;
    }

    .d-flex{
      align-content: flex-end;
      padding-left: 95%;
      margin-top: -3%;
      margin-bottom: 3%;
    }